 /* body,
 .table {
     background: linear-gradient(90deg, rgb(55, 198, 191), rgb(42, 115, 147), rgb(17, 129, 110), rgb(18, 113, 99));
     background-size: 400% 400%;
     animation: gradientBG 5s ease infinite;


 }

 .bg-coo {
     background-color: rgba(18, 103, 156, 0.169);
 }

 @keyframes gradientBG {
     0% {
         background-position: 0% 100%;
     }

     50% {
         background-position: 50% 0%;
     }

     100% {
         background-position: 0% 100%;
     }
 }

 #bg4 {
     background-color: rgba(0, 157, 255, 0.194);
 }

 .transparent-table,
 .transparent-table th,
 .transparent-table td,
 .transparent-table thead,
 .transparent-table tbody {
     background-color: transparent !important;
     color: white;
 }

 .login-container {
     margin-top: 10px;
 }

 .login-card {
     border-radius: 15px;
     padding: 30px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 } */

 .text-sm {
     font-size: 10px;
 }

 .text-md {
     font-size: 13px;
 }

 .text-sm-1 {
     font-size: 7px;
 }

 .text-gradient {
     color: hsl(0 0% 100% / 0.2);
     font-weight: 10px;
 }

 .bg-im {
     background-image: url('natural.avif');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .text-solid {
     color: rgb(247, 174, 4);
     text-shadow: 7px;
     font-style: bold;
 }

 .trans {
     opacity: 0;
     color: blue;
     transform: translateY(0);
     animation: fadeupTo 5s ease-out forwards;

 }

 @keyframes fadeupTo {

     to {
         opacity: 1;
         color: rgb(7, 251, 169);
         transform: translateY(20px);
     }

 }

 .sans-serif {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
 }